.calcul{
    border:1px solid rgb(151, 151, 151);
    width: 40rem;
    height: 41rem;
    
}

.calcul__head {
    background-color: black;
    width: 40rem;
    height: 6rem;
    color: white;
    font-size: 4rem;
    text-align: end;
}


.calcul__operator {
    width: 6rem;
    height: 4rem;
    margin: 23px 25px;
    border-radius: 15%;
    font-size: 2rem;
    color: blue;
}

.calcul__element {
    width: 6rem;
    height: 4rem;
    margin: 23px 25px;
    border-radius: 15%;
    font-size: 2rem;
}

.calcul__total {
    width: 6rem;
    height: 20rem;
    margin: 23px 25px;
    border-radius: 5%;
    font-size: 2rem;
    background-color: blue;
}

.calcul__clear {
    width: 6rem;
    height: 4rem;
    margin: 23px 25px;
    border-radius: 15%;
    font-size: 2rem;
    background-color: red;
}