.calcul{
    border:1px solid rgb(151, 151, 151);
    width: 40rem;
    height: 41rem;
    display: flex;
    flex-wrap: wrap;
}

.calcul__head {
    background-color: black;
    width: 40rem;
    height: 6rem;
    color: white;
    font-size: 4rem;
    text-align: end;
}


.calcul__operator {
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    color: blue;
}

.calcul__element {
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    position: relative;
    top: -10rem;
}

.calcul__element_L3 {
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    position: relative;
    top: -20rem;
}

.calcul__element_L4 {
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    position: relative;
    top: -20rem;
}
.calcul__element_BP{
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    position: relative;
    top: -210px;
    right: 306px;
}

.calcul__element_N0{
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    position: relative;
    top: -20rem;
}

.calcul__total {
    width: 6rem;
    height: 23rem;
    margin: 23px 29px;
    border-radius: 5%;
    font-size: 2rem;
    background-color: blue;
}

.calcul__del {
    width: 6rem;
    height: 4rem;
    margin: 23px 29px;
    border-radius: 15%;
    font-size: 2rem;
    background-color: red;
    position: relative;
    top: -100px;
    right: 153px;
}