.contactName {
    font-size: 25px;
}

label, textarea {
    font-size: 25px;
}

.picture { 
    height: 401px;
    width: 600px;
    margin: 10px;
}

button {
    font-size: 20px;
}

h2 {
    font-size: 35px; 
}

h1 {
    font-size: 50px; 
}