li, ul {
    background-color: #AE9D96; 
}

button {
    background-color: #AE9D96;
    color: #3C3F37; 
}

a, nav {
    background-color: #AE9D96;
    color: #031C42;
    font-size: 20px; 
}

* {
    background-color: #31465F;
    color: white;
}