ul{
    list-style: none;
}

.calcul{
    border:1px solid rgb(151, 151, 151);
    width: 40rem;
    height: 41rem;
}
.calcul__head{
    background-color: black;
    color: white;
    width: 641px;
    height: 6rem;
    font-size: 5rem;
    text-align: end;
}
.calcul__element{
    width: 6rem;
    height: 4rem;
    margin: 23px 25px;
    border-radius: 15%;
    font-size: 2rem;
}
.calcul__supp{
    width: 6rem;
    height: 4rem;
    margin: 23px 25px;
    background-color: red;
    color: white;
    border-radius: 15%;
    font-size: 2rem;
}
.calcul__operator{
    width: 6rem;
    height: 4rem;
    margin: 23px 25px;
    color: mediumblue;
    border-radius: 15%;
    font-size: 2rem;
}
.calcul__total{
    width: 6rem;
    height: 394px;
    position: absolute;
    top: 253px;
    left: 524px;
    background-color: mediumblue;
    color: white;
    border-radius: 5%;
    font-size: 2rem;
}